---
layout: default
---
<div class="home">
  <h1 class="page-heading">บทความล่าสุด</h1>
  <ul class="post-list">
    {% for post in paginator.posts %}
    <li class="post-item">
      {% assign img_tags = post.content | split: '<img ' %}
      {% if img_tags.size > 1 %}
        {% assign first_img = img_tags[1] | split: '>' | first %}
        {% if first_img contains 'src="' %}
          {% assign img_src = first_img | split: 'src="' | last | split: '"' | first %}
          <a class="post-thumbnail-link" href="{{ post.url | relative_url }}">
            <img class="post-thumbnail" src="{{ img_src }}" alt="">
          </a>
        {% endif %}
      {% endif %}
      <div class="post-item-body">
        <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        <div class="post-meta">
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %B %Y" }}</time>
          {% if post.categories.size > 0 %}
            &nbsp;|&nbsp;
            {% for cat in post.categories %}
              <a href="{{ cat | slugify | prepend: '/category/' | relative_url }}">{{ cat }}</a>
            {% endfor %}
          {% endif %}
        </div>
        {% if post.excerpt %}
        <p class="post-excerpt">{{ post.excerpt | strip_html | truncate: 200 }}</p>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}
  <nav class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}">&larr; ใหม่กว่า</a>
    {% endif %}
    <span>หน้า {{ paginator.page }} / {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}">เก่ากว่า &rarr;</a>
    {% endif %}
  </nav>
  {% endif %}
</div>
